/* Global Styles */
html,
body {
  height: 100%;
  /* Ensures they span the full viewport height */
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  /* Removes bullets */
}

/* HomePage Styles */
.HomePage {
  text-align: center;
  min-height: 100%;
}

/* Header Section */
.HomePage-header {
  position: relative;
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 5vmin);
  color: #103516;
  height: 60px;
  font-family: "Vidaloka", serif;
  letter-spacing: 1.5px;
}

.HomePage-header img {
  padding: 10px 0 0 20px;
}

/* Content Section */
.HomePage-content {
  display: flex;
  justify-content: space-around;
  /* Space evenly between sections */
  align-items: stretch;
  /* Ensures both blocks have equal height */
  margin-top: 65px;
  padding: 0 20px;
}

/* Subheading */
.HomePage-subheading {
  position: relative;
  margin-bottom: 20px;
  font-size: calc(3px + 5vmin);
  color: #103516;
  text-align: center;
  font-family: "Vidaloka", serif;
  letter-spacing: 1px;
  z-index: 1;
  /* Makes sure subheading is above other elements */
}

/* Ingredients and Recipes Shared Styles (main boxes)*/
.HomePage-ingredients,
.HomePage-recipes {
  background-color: #AFBEA4;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 20px;
  position: relative;
  /* Ensures subheading is positioned relative to this block */
  flex-direction: column;
  /* Aligns content vertically inside the box */
  flex-grow: 1;
  /* Allows both sections to grow and match heights */
  margin-bottom: 15px;
  /* Leaves space between bottom of page and the blocks */
}

/* Ingredients Section */
.HomePage-ingredients {
  flex: 1;
  /* Takes 1 part of the available space */
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Checklist */
.HomePage-ingredients div {
  width: 90%;
  text-align: justify;
  margin-bottom: 10px;
}


.HomePage-ingredients label {
  font-size: calc(2px + 3.5vmin);
  font-family: "Open Sans", serif;
  color: #1b4a23;
}

/* Recipes Section */
.HomePage-recipes {
  flex: 2;
  /* Takes 2 parts of the available space */
  background-color: #ffc95c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.recipe-link {
  text-decoration: none;
  /* Removes underline from links */
  display: block;
  /* Makes the link a block element */
  color: inherit;
}

/* Recipe Blocks */
.HomePage-recipeBlock {
  font-size: calc(2px + 3vmin);
  font-family: "Open Sans", serif;
  color: #1b4a23;
  background-color: #FDFCDC;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px auto auto -35px;
  /* Adds vertical spacing between blocks and makes block more centered*/
  cursor: pointer;
}